#about {
  padding: 10px 30px;
  background-color: #fffbe6;
  text-align: center;
}

.Titel {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Paragraf {
  text-indent: 30px;
  margin-bottom: 15px;
  text-align: justify;
}

#about ul {
  list-style-type: disc;
  margin: 10px auto 20px auto;
  padding-left: 20px;
  max-width: 600px;
  text-align: left;
}

#about ul li {
  margin-bottom: 5px;
}
